BasedOnStyle: LLVM
Language:        Cpp
IndentWidth:     4
UseTab:          Never
TabWidth:        4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:               true
  AfterFunction:            true
  SplitEmptyFunction:       false
  AfterNamespace:           false
  AfterEnum:                false
  AfterControlStatement:    false
  AfterStruct:              true
  AfterUnion:               true
  BeforeCatch:              true
  BeforeElse:               false
  IndentBraces:             false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine:       false
ColumnLimit:      80
ContinuationIndentWidth: 4
# SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
AccessModifierOffset: -4
IndentAccessModifiers: false  # Optional

SpacesInCStyleCastParentheses: false
# SpacesInAngles: true
SpaceBeforeCpp11BracedList: true

